<style>
	ul {
		margin:auto;
		margin-top: 6rem;
		padding: 2rem;
		background-color: #dff0d8;
		color: #3c763d;
		border: 0.1rem solid #d6e9c6;
		border-radius: 0.5rem;
		width: 20rem;
	}
	a {
		color: #337ab7;
		padding: 0.5rem;
	}
	li {
		padding: 0.5rem;
	}
</style>
<ul>
	<li><a href="./docs-output">Dokumentation</a></li>
	<li><a href="./output">Preview Seite</a></li>
</ul>
