<!DOCTYPE html>

{%- import 'macros/common.html' as common with context -%}
{%- import 'macros/getters.html' as get with context -%}
{%- import 'macros/nav.html' as nav with context -%}
{%- import 'macros/cards.html' as cards with context -%}
{%- import 'macros/content_renderer.html' as content_renderer with context -%}
{%- import 'macros/renderers.html' as render with context -%}

<html lang="{{ l }}" xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% block head %}
	<meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" >
	<title>{% block title %}{{ t[l].title_prefix }}{{ t[l].sitename }}{{ t[l].title_suffix }}{%endblock%}</title>
	<!-- <base target="_blank"> -->
	<!-- <meta HTTP-EQUIV="REFRESH" content="500; url=#"> -->
	<link rel="preload" href="{{ siteurl }}/{{ files[theme.css_file].link.url }}" as="style" >
	<link rel="stylesheet" type="text/css" href="{{ siteurl }}/{{ files[theme.css_file].link.url }}" >
	<script src="{{ siteurl }}/mathjax/tex-chtml.js" id="MathJax-script" async></script>
	{#- TODO load javascript? -#}
	{#- TODO og: meta tags -#}
	<link rel="apple-touch-icon-precomposed" type="image/png" sizes="144x144" href="{{ siteurl }}/{{ files["favicon-144.png"].link.url }}" >
	<link rel="apple-touch-icon-precomposed" type="image/png" sizes="114x114" href="{{ siteurl }}/{{ files["favicon-114.png"].link.url }}" >
	<link rel="apple-touch-icon-precomposed" type="image/png" sizes="72x72"   href="{{ siteurl }}/{{ files["favicon-72.png"].link.url }}" >
	<link rel="apple-touch-icon-precomposed" type="image/png"                 href="{{ siteurl }}/{{ files["favicon-57.png"].link.url }}" >
	<link rel="icon"                         type="image/png"                 href="{{ siteurl }}/{{ files["favicon-32.png"].link.url }}" >
	<!-- <link rel="icon" type="image/png" sizes="192x192" href="static/img/favicon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">-->
	<!-- <link rel="icon" type="image/x-icon" sizes="16x16" href="static/img/favicon.ico"> -->
	{% block extra_head %}{% endblock extra_head %}
	{% endblock head %}
</head>
<body id="top">
	<!--<nav id="controls">
	</nav>-->
	<header>
		{% block site_header %}
		<a href="{{ siteurl }}/{{ l }}/" title="{{ t[l].banner.title|e }}" ><img alt="{{ t[l].banner.alt|e }}" src="{{ siteurl }}/{{ files['banner-logo.png'].link.url }}"><span>{{ t[l].banner.prefix|e }}{{ t[l].sitename|e }}{{ t[l].banner.suffix|e }}</span></a>
		{% block extra_header %}{% endblock extra_header %}
		{% endblock site_header %}
	</header>
	<div id="sitemenu-container">
		<label for="show-header-menu" class="show-header-menu">&#9776;</label>
		<input type="checkbox" id="show-header-menu" role="button" aria-pressed="true">
		<label for="show-header-menu" class="show-header-menu-bg"> </label>
		{{ nav.render_menu(config.menuitems, l) }}
	</div>

	{% block global_before %}
		{%- if 'global_before' in config.theme -%}
			<div id="globalbefore" class="globalsections">
			{{ render.sections(config.theme.global_before, lang, 2) }}
			</div>
		{%- endif -%}
	{% endblock global_before %}

	{% block breadcrumb %}
	{% endblock breadcrumb %}
	<main class="content">
	{% block main %}
	{% endblock main %}
	</main>
	{% block page_footer %}
	{% endblock page_footer %}

	{% block global_after %}
		{%- if 'global_after' in config.theme -%}
			<div id="globalafter" class="globalsections">
			{{ render.sections(config.theme.global_after, lang, 2) }}
			</div>
		{%- endif -%}
	{% endblock global_after %}

	<footer id="site-footer">
		{{ render.sections(config.theme.footer, lang, 2, in_footer=true) }}
	</footer>
</body>
<!-- The Cake Is A Lie! -->
</html>
