{% extends "page.html" %}

{% block title %}{{ t[l].title_prefix }}{{ t[l].sitename }}{{ t[l].title_suffix }}{% endblock %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block page_header %}
	{{ common.render_header(page.title, 1, None, lang, visuallyhidden=true) }}
	<hr>
{% endblock %}

{% block page_footer %}
	<footer class="page-footer content">
		<div>
			{{ t[l].page.languages_prefix }}
			{%- for tlang in t['supported'] -%}
				{%- if loop.index != 1 -%}, {% endif -%}
				{%- call(p) get.page_by_slug(page.slug, tlang) -%}
					{{ common.render_link(p.link,t[tlang]['langname'],l) }}
				{%- endcall -%}
			{% endfor %}
			{{ t[l].page.languages_suffix }}
		</div>
		<div>
			{{ common.render_link(page.edit_url, t[l].page.edit_url_text, l) }} | 
			{{ common.render_link(page.view_url, t[l].page.view_url_text, l) }} | 
			{{ common.render_link(page.history_url, t[l].page.history_url_text, l) }}
		</div>

	</footer>
{% endblock %}
