{% extends "base.html" %}

{% block title %}{{ t[l].title_prefix }}{{ common.encoded_span(page.title)|striptags }}{{ t[l].title_seperator }}{{ common.encoded_span(page.category.title)|striptags }}{{ t[l].title_seperator }}{{ t[l].sitename }}{{ t[l].title_suffix }}{% endblock %}

{% block extra_head %}

	{%- if page.link.alias -%}
		{#- If page is a link and the user somehow got non-aliased link (e.g. from an old qr-code), redirect them to the linked url. -#}
		{%- set ns = namespace(relation=None, url=None) -%}
		{%- call(resolvedlink, objtype, obj) common.resolve_link(page.link) -%}
			{%- set ns.url = resolvedlink.urlwithanchor -%}
			{%- if not resolvedlink.is_external -%}
				{%- set ns.relation = "internal" -%}
				{%- if resolvedlink.url|length -%}
					{%- set ns.url = [siteurl, ns.url]|join("/") -%}
				{%- endif -%}
			{%- endif -%}
		{%- endcall -%}
		<meta http-equiv="refresh" content="5; url={{ ns.url }}" >
	{%- endif -%}
{% endblock %}

{% block breadcrumb %}
	{{ nav.render_breadcrumb_menu(page.category, l, page) }}
{% endblock breadcrumb %}

{% block main %}
	<article>
		{% block page_header %}
			{{ common.render_header(page.title, 1, None, lang) }}
		{% endblock %}
		{% block page_content %}
			{%- if page.link.alias -%}
				<div class="info">
					<p>
						{{ t[l].page.redirect_prefix }}{{ common.render_link(page.link.alias, None, l) }}{{ t[l].page.redirect_suffix }}
					</p>
				</div>
			{%- else -%}
				{{ render.section({"type": "page", "page": page, "title_mode": "prevent"}, l, 1) }}
			{%- endif -%}
		{% endblock %}
	</article>
{% endblock %}

{% block page_footer %}
	<footer class="page-footer content">
		{#- <div>
			{{ t[l].page.authors_prefix }}
			<ul>
			{% for author in page.authors %}
				<li><ul>
				{% for name in author.names %}
					<li> {{ name|e }} </li>
				{% endfor %}
				</ul></li>
			{% endfor %}
			</ul>
			{{ t[l].page.authors_suffix }}
		</div>-#}

		<div>
			{{ t[l].page.published_prefix }}
			<time datetime="{{ page.date_created.isoformat() }}">
				{{ page.date_created.strftime(t[l].date_format) }}
			</time>
			{{ t[l].page.published_suffix }}
			{{ t[l].page.modified_prefix }}
			<time datetime="{{ page.date_modified.isoformat() }}">
				{{ page.date_modified.strftime(t[l].date_format) }}
			</time>
			{{ t[l].page.modified_suffix }}
		</div>

		<div>
			{#-{{ t[l].page.category_prefix }}
			{{ common.render_link_tag(page.category,l) }}
			{{ t[l].page.category_suffix }}-#}
			{{ t[l].page.tags_prefix }}
			{% for tag in page.tags %}
				{{ common.render_link_tag(tag,l) }}
			{% endfor %}
			{#-<ul>
			{% for tag in page.tags %}
				<li>
					{{ common.render_link_tag(tag,l) }}
				</li>
			{% endfor %}
			</ul>-#}
			{{ t[l].page.tags_suffix }}
		</div>

		<div>
			{{ t[l].page.languages_prefix }}
			{%- for tlang in t['supported'] -%}
				{%- if loop.index != 1 -%}, {% endif -%}
				{%- call(p) get.page_by_slug(page.slug, tlang) -%}
					{{ common.render_link(p.link,t[tlang]['langname'],l) }}
				{%- endcall -%}
			{% endfor %}
			{#-<ul class="languages">
			{%- for tlang in t['supported'] -%}
				<li>
					{%- call(p) get.page_by_slug(page.slug, tlang) -%}
						{{ common.render_link(p.link,t[tlang]['langname'],l) }}
					{%- endcall -%}
				</li>
			{%- endfor -%}
			</ul>-#}
			{{ t[l].page.languages_suffix }}
		</div>

		<div>
			{{ t[l].page.slug_prefix }}
				<code>{{ page.slug|e }}</code>
			{{ t[l].page.slug_suffix }}
		</div>

		<div>
			{{ common.render_link(page.edit_url, t[l].page.edit_url_text, l) }} | 
			{{ common.render_link(page.view_url, t[l].page.view_url_text, l) }} | 
			{{ common.render_link(page.history_url, t[l].page.history_url_text, l) }}
		</div>

	</footer>
{% endblock %}
