{% extends "base.html" %}

{% block title %}{{ t[l].title_prefix }}{{ common.encoded_span(tag.title)|striptags }}{{ t[l].title_seperator }}{{ t[l].sitename }}{{ t[l].title_suffix }}{% endblock %}

{% block breadcrumb %}
	{{ nav.render_breadcrumb_menu(tag, l) }}
{% endblock breadcrumb %}

{% block main %}
	<section>
		{{ render.section({"type": "tag", "tag": tag, "num": None}, l, 1) }}
	</section>
{% endblock main %}

{% block page_footer %}
	{%- if tag.page -%}
	<footer class="page-footer content">
		<div>
			{{ t[l].tag.languages_prefix }}
			{%- for tlang in t['supported'] -%}
				{%- if loop.index != 1 -%}, {% endif -%}
				{%- call(p) get.tag_by_name(tag.name, tlang) -%}
					{{ common.render_link(p.link,t[tlang]['langname'],l) }}
				{%- endcall -%}
			{% endfor %}
			{{ t[l].tag.languages_suffix }}
		</div>
		<div>
			{{ common.render_link(tag.page.edit_url, t[l].tag.edit_url_text, l) }} | 
			{{ common.render_link(tag.page.view_url, t[l].tag.view_url_text, l) }} | 
			{{ common.render_link(tag.page.history_url, t[l].tag.history_url_text, l) }}
		</div>
	</footer>
	{%- endif -%}
{% endblock %}
