
{#- Siehe https://gitlab.gwdg.de/GAUMI-fginfo/fg-website/-/blob/better-content-renderer/docs/content.md -#}

{%- macro render_content(page, lang, header_level_offset, in_footer) -%}
	{%- set content = page.content -%}
	{%- set meta = namespace(header_level_offset=header_level_offset, in_footer=in_footer, page=page) -%}
	{{ render_blocks(content, lang, meta) }}
{%- endmacro -%}

{%- macro render_link(link, content, lang, attr = None, title = None) -%}
	{%- call(objtype, obj, url, relation) common.render_link_raw(link, content, lang, attr, title) -%}
		{%- if content is string or content is none -%}
			{%- if content is string and content|length -%}
				{{ common.encoded_span(content) }}
			{%- else -%}
				{{ common.encoded_span(obj.title) }}
			{%- endif -%}
		{%- else -%}
			<span>{{ render_inlines(content, lang) }}</span>
		{%- endif -%}
	{%- endcall -%}
{%- endmacro -%}

{%- macro render_header(content, level, attr, lang, in_footer) -%}
	{%- call common.render_header_raw(content, level, attr, lang, in_footer=in_footer) -%}
		{%- if content is string -%}
			{{ common.encoded_span(content) }}
		{%- else -%}
			{{ render_inlines(content, lang) }}
		{%- endif -%}
	{%- endcall -%}
{%- endmacro -%}


{%- macro render_orderedlist_type(style, delim) -%}
	{#- TODO also use delim: default | period | one_parenthesis | two_parentheses -#}
	{%-   if style == "default" -%}1
	{%- elif style == "lower_alpha" -%}a
	{%- elif style == "upper_alpha" -%}A
	{%- elif style == "lower_roman" -%}i
	{%- elif style == "upper_roman" -%}I
	{%- elif style == "example" -%}1
	{%- else -%}1
	{%- endif -%}
{%- endmacro -%}

{%- macro render_image(link, alt, lang, attr = None, title = None) -%}
	{%- call(resolvedlink, objtype, obj) common.resolve_link(link) -%}
		{%- set ns = namespace(url=resolvedlink.urlwithanchor) -%}
		{%- if not resolvedlink.is_external -%}
			{%- if resolvedlink.url|length -%}
				{%- set ns.url = [siteurl, ns.url]|join("/") -%}
			{%- endif -%}
		{%- endif -%}
		<img {{ common.render_attr(attr, lang, extra={"src": ns.url, "title": {"value":title, "escape": true}, "loading": "lazy"}) }} alt="
			{%- if alt is string -%}
				{{ alt|e }}
			{%- else -%}
				{{ render_inlines(alt, lang)|striptags|e }}
			{%- endif -%}
		">
	{%- endcall -%}
{%- endmacro -%}

{#- ############################ BLOCKS ################################### -#}

{%- macro render_blocks(blocks, lang, meta) -%}
	{%- for block in blocks -%}
		{{ render_block(block, lang, meta) }}
	{%- endfor -%}
{%- endmacro -%}

{%- macro render_block(block, lang, meta) -%}
	{%- set etype = block['etype'] -%}
	{%- if etype == "header" -%}
		{{ render_block_header(block, lang, meta) }}
	{%- elif etype == "paragraph" -%}
		{{ render_block_paragraph(block, lang, meta) }}
	{%- elif etype == "bulletlist" -%}
		{{ render_block_bulletlist(block, lang, meta) }}
	{%- elif etype == "plain" -%}
		{{ render_block_plain(block, lang, meta) }}
	{%- elif etype == "codeblock" -%}
		{{ render_block_codeblock(block, lang, meta) }}
	{%- elif etype == "blockquote" -%}
		{{ render_block_blockquote(block, lang, meta) }}
	{%- elif etype == "blockcontainer" -%}
		{{ render_block_blockcontainer(block, lang, meta) }}
	{%- elif etype == "horizontalrule" -%}
		{{ render_block_horizontalrule(block, lang, meta) }}
	{%- elif etype == "rawblock" -%}
		{{ render_block_rawblock(block, lang, meta) }}
	{%- elif etype == "orderedlist" -%}
		{{ render_block_orderedlist(block, lang, meta) }}
	{%- elif etype == "table" -%}
		{{ render_block_table(block, lang, meta) }}
	{%- elif etype == "definitionlist" -%}
		{{ render_block_definitionlist(block, lang, meta) }}
	{%- elif etype == "lineblock" -%}
		{{ render_block_lineblock(block, lang, meta) }}
	{%- elif etype == "toc" -%}
		{{ render_block_toc(block, lang, meta) }}
	{%- else -%}
		<br><strong>ERROR: Unhandled block type: '{{ etype|e }}'</strong><br>
	{%- endif -%}
{%- endmacro -%}

{%- macro render_block_header(block, lang, meta) -%}
	{%- set level = block['level'] -%}
	{%- set attr = block['attr'] -%}
	{%- set content = block['content'] -%}

	{{ render_header(content, level + meta.header_level_offset, attr, lang, meta.in_footer) }}
{%- endmacro -%}

{%- macro render_block_paragraph(block, lang, meta) -%}
	{%- set content = block['content'] -%}
	<p>{{ render_inlines(content, lang) }}</p>
{%- endmacro -%}

{%- macro render_block_bulletlist(block, lang, meta) -%}
	{%- set items = block['items'] -%}
	{%- set count = block['count'] -%}
	<ul>
		{%- for item in items -%}
			<li>{{ render_blocks(item, lang, meta) }}</li>
		{%- endfor -%}
	</ul>
{%- endmacro -%}

{%- macro render_block_plain(block, lang, meta) -%}
	{%- set content = block['content'] -%}
	{{ render_inlines(content, lang) }}
{%- endmacro -%}

{%- macro render_block_codeblock(block, lang, meta) -%}
	{%- set attr = block['attr'] -%}
	{%- set code = block['code'] -%}
	{%- set code_lines = block['code_lines'] -%}
	<pre {{ common.render_attr(attr, lang, extra_classes=["codeblock"]) }}>{{ code|e }}</pre>
{%- endmacro -%}

{%- macro render_block_blockquote(block, lang, meta) -%}
	{%- set content = block['content'] -%}
	<blockquote>
		{{ render_blocks(content, lang, meta) }}
	</blockquote>
{%- endmacro -%}

{%- macro render_block_blockcontainer(block, lang, meta) -%}
	{%- set attr = block['attr'] -%}
	{%- set content = block['content'] -%}
	<div {{ common.render_attr(attr, lang) }}>
		{{ render_blocks(content, lang, meta) }}
	</div>
{%- endmacro -%}

{%- macro render_block_horizontalrule(block, lang, meta) -%}
	<hr>
{%- endmacro -%}

{%- macro render_block_rawblock(block, lang, meta) -%}
	{%- set format = block['format'] -%}
	{%- set raw = block['raw'] -%}
	{%- if format == "html" -%}
		{#- <div class="rawblock {{ format|e }}"> -#}
			{{ raw }}
		{#- </div> -#}
	{%- else -%}
		<div class="rawblock {{ format|e }}">{{ raw | e }}</div>
	{%- endif -%}
{%- endmacro -%}

{%- macro render_block_table_cell(cell, lang, is_header, column_spec) -%}
	{%- set attr = cell['attr'] -%}
	{%- set cell_alignment = cell['alignment'] -%}
	{%- set row_span = cell['row_span'] -%}
	{%- set column_span = cell['column_span'] -%}
	{%- set content = cell['content'] -%}

	{%- set column_alignment = column_spec.alignment -%}
	{%- set ns = namespace(alignment=column_alignment,classes=[],extra_style={}) -%}

	{%- if cell_alignment != "default" -%}
		{%- set ns.alignment=cell_alignment -%}
	{%- endif -%}

	{%- set alignment_class = ["align", ns.alignment]|join('_') -%}

	{%- if column_spec.has_width-%}
		{%- set ns.classes = [alignment_class, "has_recommended_width"] -%}
		{%- set ns.extra_style = {"--recommended_width": [column_spec.width.percentage, "%"]|join('')} -%}
		{#- set ns.extra_style = {"width": [column_spec.width.percentage, "%"]|join('')} -#}
	{%- else -%}
		{%- set ns.classes = [alignment_class] -%}
	{%- endif -%}

	<{% if is_header %}th{% else %}td{% endif %} {{ common.render_attr(attr, lang, extra_classes=ns.classes, extra={"rowspan": row_span, "colspan": column_span}, extra_style=ns.extra_style) }}>
		{{ render_blocks(content, lang, meta) }}
	</{% if is_header %}th{% else %}td{% endif %}>
{%- endmacro -%}

{%- macro render_block_table_rows(rows, lang, num_headers,column_specs) -%}
	{%- for row in rows -%}
		{{ render_block_table_row(row,lang,num_headers=num_headers,column_specs=column_specs) }}
	{%- endfor -%}
{%- endmacro -%}

{%- macro render_block_table_row(row, lang, num_headers, column_specs) -%}
	{%- set attr = row['attr'] -%}
	{%- set cells = row['cells'] -%}
	<tr {{ common.render_attr(attr, lang) }}>
		{%- for cell in cells -%}
			{%- if loop.index <= num_headers or num_headers == -1 -%}
				{{ render_block_table_cell(cell,lang,is_header=true,column_spec=column_specs[loop.index0]) }}
			{%- else -%}
				{{ render_block_table_cell(cell,lang,is_header=false,column_spec=column_specs[loop.index0]) }}
			{%- endif -%}
		{%- endfor -%}
	</tr>
{%- endmacro -%}

{%- macro render_block_table(block, lang, meta) -%}
	{#- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table -#}
	{%- set attr = block['attr'] -%}
	{%- set caption = block['caption'] -%}
	{%- set column_specs = block['column_specs'] -%}
	{%- set head = block['head'] -%}
	{%- set bodies = block['bodies'] -%}
	{%- set foot = block['foot'] -%}

	<table>
		{%- if caption|length -%}
			<caption>{{ render_blocks(caption, lang, meta) }}</caption>
		{%- endif -%}

		{#- TODO: Maybe add colgroup? -#}

		{%- if head.rows|length -%}
		<thead {{ common.render_attr(head.attr, lang) }}>
			{{ render_block_table_rows(head.rows,lang,num_headers=-1,column_specs=column_specs) }}
		</thead>
		{%- endif -%}

		{%- for body in bodies -%}
			<tbody {{ common.render_attr(body.attr, lang) }}>
				{%- if body.intermediate_head|length -%}
					{{ render_block_table_rows(body.intermediate_head,lang,num_headers=-1,column_specs=column_specs) }}
				{%- endif -%}
				{{ render_block_table_rows(body.intermediate_body,lang,num_headers=body.row_head_columns,column_specs=column_specs) }}
			</tbody>
		{%- endfor -%}


		{%- if foot.rows|length -%}
		<tfoot {{ common.render_attr(foot.attr, lang) }}>
			{{ render_block_table_rows(foot.rows,lang,num_headers=bodies[0].row_head_columns,column_specs=column_specs) }}
		</tfoot>
		{%- endif -%}
	</table>
{%- endmacro -%}

{%- macro render_block_orderedlist(block, lang, meta) -%}
	{%- set items = block['items'] -%}
	{%- set count = block['count'] -%}
	{%- set start = block['start'] -%}
	{%- set style = block['style'] -%}
	{%- set delim = block['delim'] -%}
	{#- ol start="{{ start|e }}" style="list-style-type: {{ render_orderedlist_type(style, delim) }};" -#}
	<ol start="{{ start|e }}" type="{{ render_orderedlist_type(style, delim) }}">
		{%- for item in items -%}
			<li>{{ render_blocks(item, lang, meta) }}</li>
		{%- endfor -%}
	</ol>
{%- endmacro -%}

{%- macro render_block_definitionlist(block, lang, meta) -%}
	{%- set items = block['items'] -%}
	<dl>
		{%- for item in items -%}
			{%- set term = item['term'] -%}
			{%- set definitions = item['definitions'] -%}
			<dt>{{ render_inlines(term, lang) }}</dt>
			{%- for def in definitions -%}
				<dd>{{ render_blocks(def, lang, meta) }}</dd>
			{%- endfor -%}
		{%- endfor -%}
	</dl>
{%- endmacro -%}

{%- macro render_block_lineblock(block, lang, meta) -%}
	{%- set lines = block['lines'] -%}
	<div class="lineblock">
		{%- for line in lines -%}
			{{ render_inlines(line, lang) }}
			{%- if not loop.last -%}<br>{%- endif -%}
		{%- endfor -%}
	</div>
{%- endmacro -%}

{%- macro render_toc(tree, lang, meta) -%}
	{%- if tree.element is defined -%}
		<a class="internal" href="#{{ tree.element.attr.id }}">{{ render_inlines(tree.element.content, lang) }}</a>
	{%- endif -%}

	{%- if tree.children|length -%}
		<ul>
			{%- for tree in tree.children -%}
				<li>{{ render_toc(tree, lang, meta) }}</li>
			{%- endfor -%}
		</ul>
	{%- endif -%}
{%- endmacro -%}
{%- macro render_block_toc(block, lang, meta) -%}
	{%- set toc = block.toc -%}
	<nav class="toc">
		{{ render_header(t[lang].toc.header, 2 + meta.header_level_offset, None, lang, meta.in_footer) }}
		{{ render_toc({"children": toc}, lang, meta) }}
	</nav>
{%- endmacro -%}


{#- ############################ INLINES ################################## -#}

{%- macro render_inlines(inlines, lang) -%}
	{%- for inline in inlines -%}
		{{ render_inline(inline,lang) }}
	{%- endfor -%}
{%- endmacro -%}

{%- macro render_inline(inline, lang) -%}
	{%- set etype = inline['etype'] -%}
	{%- if etype == "space" -%}
		{{ render_inline_space(inline, lang) }}
	{%- elif etype == "string" -%}
		{{ render_inline_string(inline, lang) }}
	{%- elif etype == "linebreak" -%}
		{{ render_inline_linebreak(inline, lang) }}
	{%- elif etype == "strong"      -%}{{ render_inline_simple(inline, lang, "b") }}
	{%- elif etype == "emph"        -%}{{ render_inline_simple(inline, lang, "i") }}
	{%- elif etype == "strikeout"   -%}{{ render_inline_simple(inline, lang, "s") }}
	{%- elif etype == "superscript" -%}{{ render_inline_simple(inline, lang, "sup") }}
	{%- elif etype == "subscript"   -%}{{ render_inline_simple(inline, lang, "sub") }}
	{%- elif etype == "underline"   -%}{{ render_inline_underline(inline, lang) }}
	{%- elif etype == "smallcaps"   -%}{{ render_inline_smallcaps(inline, lang) }}
	{%- elif etype == "inlinecontainer" -%}
		{{ render_inline_inlinecontainer(inline, lang) }}
	{%- elif etype == "rawinline" -%}
		{{ render_inline_rawinline(inline, lang) }}
	{%- elif etype == "code" -%}
		{{ render_inline_code(inline, lang) }}
	{%- elif etype == "quoted" -%}
		{{ render_inline_quoted(inline, lang) }}
	{%- elif etype == "footnote" -%}
		{{ render_inline_footnote(inline, lang) }}
	{%- elif etype == "link" -%}
		{{ render_inline_link(inline, lang) }}
	{%- elif etype == "image" -%}
		{{ render_inline_image(inline, lang) }}
	{%- elif etype == "math" -%}
		{{ render_inline_math(inline, lang) }}
	{%- elif etype == "softbreak" -%}
		{{ render_inline_softbreak(inline, lang) }}
	{%- else -%}
		<br><strong>ERROR: Unhandled inline type: '{{ etype|e }}'</strong><br>
	{%- endif -%}
{%- endmacro -%}

{%- macro render_inline_space(inline, lang) %} {% endmacro -%}

{%- macro render_inline_string(inline, lang) -%}
	{%- set text = inline['text'] -%}
	{{ text|e }}
{%- endmacro -%}

{%- macro render_inline_linebreak(inline, lang) -%}
	<br>
{%- endmacro -%}

{%- macro render_inline_simple(inline, lang, tag) -%}
	{%- set content = inline['content'] -%}
	<{{ tag }}>{{ render_inlines(content, lang) }}</{{ tag }}>
{%- endmacro -%}

{%- macro render_inline_underline(inline, lang) -%}
	{%- set content = inline['content'] -%}
	<span class="underline">{{ render_inlines(content, lang) }}</span>
{%- endmacro -%}

{%- macro render_inline_smallcaps(inline, lang) -%}
	{%- set content = inline['content'] -%}
	<span class="smallcaps">{{ render_inlines(content, lang) }}</span>
{%- endmacro -%}

{%- macro render_inline_inlinecontainer(inline, lang) -%}
	{%- set attr = inline['attr'] -%}
	{%- set content = inline['content'] -%}
	<span {{ common.render_attr(attr, lang) }}>{{ render_inlines(content, lang) }}</span>
{%- endmacro -%}

{%- macro render_inline_rawinline(inline, lang) -%}
	{%- set format = inline['format'] -%}
	{%- set raw = inline['raw'] -%}
	{%- if format == "html" -%}
		{#- <span class="rawinline {{ format|e }}"> -#}
			{{ raw }}
		{#- </span> -#}
	{%- else -%}
		<span class="rawinline {{ format|e }}">{{ raw | e }}</span>
	{%- endif -%}
{%- endmacro -%}

{%- macro render_inline_code(inline, lang) -%}
	{%- set attr = inline['attr'] -%}
	{%- set code = inline['code'] -%}
	{%- set code_lines = inline['code_lines'] -%}
	<code {{ common.render_attr(attr, lang, extra_classes=["codeinline"]) }}>{{ code|e }}</code>
{%- endmacro -%}

{%- macro render_inline_quoted(inline, lang) -%}
	{%- set quotetype = inline['quotetype'] -%}
	{%- set content = inline['content'] -%}
	{%- if quotetype == "single" -%}
		{{ t[lang].quotations.single.left }}{{ render_inlines(content, lang) }}{{ t[lang].quotations.single.right }}
	{%- elif quotetype == "double" -%}
		{{ t[lang].quotations.double.left }}{{ render_inlines(content, lang) }}{{ t[lang].quotations.double.right }}
	{%- else -%}
		&quot;{{ render_inlines(content, lang) }}&quot;
	{%- endif -%}
{%- endmacro -%}

{%- macro render_inline_footnote(inline, lang) -%}
	{%- set content = inline['content'] -%}
	<sup>[TODO FOOTNOTES]</sup>
{%- endmacro -%}

{%- macro render_inline_link(inline, lang) -%}
	{%- set attr = inline['attr'] -%}
	{%- set content = inline['content'] -%}
	{%- set link = inline['link'] -%}
	{%- set title = inline['title'] -%}
	{{ render_link(link, content, lang, attr, title) }}
{%- endmacro -%}

{%- macro render_inline_image(inline, lang) -%}
	{%- set attr = inline['attr'] -%}
	{%- set alt = inline['alt'] -%}
	{%- set link = inline['link'] -%}
	{%- set title = inline['title'] -%}
	{{ render_image(link, alt, lang, attr, title) }}
{%- endmacro -%}

{%- macro render_inline_math(inline, lang) -%}
	{%- set mathtype = inline['mathtype'] -%}
	{%- set math = inline['math'] -%}
	{%- if mathtype == "inline" -%}
		<span class="math inline">\({{ math|e }}\)</span>
	{%- elif mathtype == "display" -%}
		<span class="math display">\[{{ math|e }}\]</span>
	{%- else -%}
		<br><strong>ERROR: Unhandled mathtype: '{{ mathtype|e }}'</strong><br>
	{%- endif -%}
{%- endmacro -%}

{%- macro render_inline_softbreak(inline, lang) -%}
	&shy;
{%- endmacro -%}
