{%- macro render_menu(items, lang) -%}
	<nav>
		<ul>
		{% for item in items -%}
			{{ render_menu_item(item.link, lang) }}
		{%- endfor %}
		</ul>
	</nav>
{%- endmacro -%}

{%- macro render_menu_item(link, lang) -%}
	<li {% if link.category.color -%}style="--category-color: {{ link.category.color }}"{%- endif -%}>
		{{ common.render_link(link, None, lang) }}
	</li>
{%- endmacro -%}

{%- macro render_breadcrumb_menu(cat, lang, page = None) -%}
	<nav class="breadcrumb" {% if cat.color -%}style="--category-color: {{ cat.color }}"{%- endif -%}>
		<ul>
			<li>{{ common.render_link(config.homepage.page.link, None, lang) }}</li>
			<li>{{ common.render_link(cat.link, None, lang) }}</li>
			{%- if page -%}
			<li>{{ common.render_link(page.link, None, lang) }}</li>
			{%- endif -%}
		</ul>
	</nav>
{%- endmacro -%}
