{% extends "base.html" %}

{%- macro article_translation_link(translation, is_current=False) -%}
<a href="{{ SITEURL }}/{{ translation.url }}" hreflang="{{ translation.lang }}" title="{{ l[translation.lang].langname|e }}">
	<img alt="{{ l[translation.lang].langname|e }}" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/flags/{{ translation.lang }}.svg">
</a>
{%- endmacro -%}

{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ article.title|striptags }}{% endblock %}

{% block extra_head %}
	{%- for translation in article.translations -%}
		<link rel="alternate" hreflang="{{ translation.lang }}" href="{{ SITEURL }}/{{ translation.url }}">
	{%- endfor -%}

	{% if article.summary %}
		<meta name="description" content="{{ article.summary | striptags | safe | truncate(150) }}" />
	{% endif %}
{% endblock %}

{% block content %}
	<article>
		<header>
			<h1>{{ article.title }}</h1>
		</header>
		{{ article.content }}
		<footer>
			{%- if article.authors -%}
			<address>
				{{ l[lang].article.authors_prefix }}
				{% for author in article.authors %}
					<a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
				{% endfor %}
				{{ l[lang].article.authors_suffix }}
			</address>
			{%- endif -%}
				
			<span>{{ l[lang].article.published_prefix }}
			<abbr title="{{ article.date.isoformat() }}">
				{{ article.locale_date }}
			</abbr>{{ l[lang].article.published_suffix }}</span>

			{%- if article.modified -%}
			<br />
			<span>{{ l[lang].article.modified_prefix }}
			<abbr title="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</abbr>
			{{ l[lang].article.modified_suffix }}</span>
			{%- endif -%}

			<br />
			<span>{{ l[lang].article.category_prefix }}<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>{{ l[lang].article.category_suffix }}</span>
			<br />
			<span>{{ l[lang].article.languages_prefix }}</span>
			<ul class="languages">
			{%- for translation in article.translations -%}
				<li>
					{{ article_translation_link(translation) }}
				</li>
			{%- endfor -%}
				<li>
					{{ article_translation_link(article, True) }}
				</li>
			</ul>
			{{ l[lang].article.languages_suffix }}
		</footer>
	</article>
{% endblock %}
