<!DOCTYPE html>
{#- TODO lang irgendwie vernünftig setzen/erkennen -#}
{%- if lang is not defined -%}
	{%- set lang = DEFAULT_LANG -%}
{%- else -%}
Hurra!!! lang ist definiert als {{ lang }}.
{{ diese_variable_existiert_nicht_werfe_fehler }}
{%- endif -%}

{%- import 'macros/getters.html' as get with context -%}
{%- import 'macros/cards.html' as cards with context -%}
{%- import 'macros/renderers.html' as render with context -%}

<html lang="{%- block html_lang -%}{{ DEFAULT_LANG }}{%- endblock html_lang -%}">
<head>
	{% block head %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{{ l[lang].title_prefix }}{{ l[lang].sitename }}{{ l[lang].title_suffix }}{%endblock%}</title>
	<!-- <base target="_blank"> -->
	<!-- <meta HTTP-EQUIV="REFRESH" content="500; url=#"> -->
	<link rel="preload" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" as="style" />
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
	{#- TODO load javascript? -#}
	{#- TODO og: meta tags -#}
	{#- TODO favicon -#}
	<!-- <link rel="icon" type="image/png" sizes="192x192" href="static/img/favicon-192x192.png"/>
	<link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png"/>-->
	<!-- <link rel="icon" type="image/x-icon" sizes="16x16" href="static/img/favicon.ico"/> -->
	{%- if FEED_ALL_ATOM %}
	<link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ l[lang].atom.title|e }}" />
	{% endif -%}
	{% block extra_head %}{% endblock extra_head %}
	{% endblock head %}
</head>
<body>
	<header>
		{% block header %}
		<h1><a href="{{ SITEURL }}/" title="{{ l[lang].banner.title|e }}" ><img alt="{{ l[lang].banner.alt|e }}" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/banner-logo.png"><span>{{ l[lang].banner.prefix|e }}{{ l[lang].sitename|e }}{{ l[lang].banner.suffix|e }}</span></a></h1>
		{% block extra_header %}{% endblock extra_header %}
		{% endblock header %}
	</header>
	<div class="nav-container">
		<label for="show-header-menu" class="show-header-menu">&#9776;</label>
		<input type="checkbox" id="show-header-menu" role="button">
		<label for="show-header-menu" class="show-header-menu-bg"> </label>
		<nav>
			<ul>
			{% for item in sc.menuitems -%}
				{%- if item.category is defined -%}
					{%- call(nativecat, sccat, _) get.category_by_name(item.category) -%}
						<li style="--category-color: {{ sccat.color }}"><a href="{{ SITEURL }}/{{ nativecat.url }}">{{ sccat[lang]|e }}</a></li>
					{%- endcall -%}
				{%- elif item.tag is defined -%}
					{%- call(nativetag, sccat, _) get.tag_by_name(item.tag) -%}
						<li style="--category-color: {{ sccat.color }}"><a href="{{ SITEURL }}/{{ nativetag.url }}">{{ sccat[lang]|e }}</a></li>
					{%- endcall -%}
				{%- elif item.slug is defined -%}
					{%- call(aop, _) get.article_or_page_by_slug(item.slug, lang) -%}
					{%- call(__, sccat, ___) get.category_by_name(aop.category.name, True) -%}
						<li style="--category-color: {{ sccat.color }}"><a href="{{ SITEURL }}/{{ aop.url }}">{{ aop.title }}</a></li>
					{%- endcall -%}
					{%- endcall -%}
				{%- else -%}
					<br />
					<strong>ERROR: menuitems: Cannot parse item: {{ item|string|e }}</strong><br />
					<br />
				{%- endif -%}
				{#- TODO add active class if this is the current site -#}
			{%- endfor %}
			</ul>
		</nav>
	</div>
	<main>
	{% block content %}
	{% endblock content %}
	</main>
	<footer>
		{% block footer %}
		{#- TODO besserer footer -#}
		<div>
			<a href="https://asta.uni-goettingen.de/impressum/datenschutz/">Datenschutz</a>
			<a href="/fg-website/Impressum.md">Impressum</a>
		<div>
		<div>Fachgruppe Informatik Göttingen, 2022.</div>
		<!-- blablabla datenschutz,impressum etc... -->
		{% block extra_footer %}{% endblock extra_footer %}
		{% endblock footer %}
	</footer>
</body>
<!-- The Cake Is A Lie! -->
</html>
