{% extends "base.html" %}

{%- macro page_translation_link(translation, is_current=False) -%}
<a href="{{ SITEURL }}/{{ translation.url }}" hreflang="{{ translation.lang }}" title="{{ l[translation.lang].langname|e }}">
	<img alt="{{ l[translation.lang].langname|e }}" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/flags/{{ translation.lang }}.svg">
</a>
{%- endmacro -%}

{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ page.title|striptags }}{% endblock %}

{% block extra_head %}
	{%- for translation in page.translations -%}
		<link rel="alternate" hreflang="{{ translation.lang }}" href="{{ SITEURL }}/{{ translation.url }}">
	{%- endfor -%}

	{% if page.summary %}
		<meta name="description" content="{{ page.summary | striptags | safe | truncate(150) }}" />
	{% endif %}
{% endblock %}

{% block content %}
	<article>
		<header>
			<h1>{{ page.title }}</h1>
		</header>
		{{ page.content }}
		<footer>
			{%- if page.authors -%}
			<address>
				{{ l[lang].page.authors_prefix }}
				{% for author in page.authors %}
					<a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
				{% endfor %}
				{{ l[lang].page.authors_suffix }}
			</address>
			{%- endif -%}
				
			<span>{{ l[lang].page.published_prefix }}
			<abbr title="{{ page.date.isoformat() }}">
				{{ page.locale_date }}
			</abbr>{{ l[lang].page.published_suffix }}</span>

			{%- if page.modified -%}
			<br />
			<span>{{ l[lang].page.modified_prefix }}
			<abbr title="{{ page.modified.isoformat() }}">{{ page.locale_modified }}</abbr>
			{{ l[lang].page.modified_suffix }}</span>
			{%- endif -%}

			<br />
			<span>{{ l[lang].page.category_prefix }}<a href="{{ SITEURL }}/{{ page.category.url }}">{{ page.category }}</a>{{ l[lang].page.category_suffix }}</span>
			<br />
			<span>{{ l[lang].page.languages_prefix }}</span>
			<ul class="languages">
			{%- for translation in page.translations -%}
				<li>
					{{ page_translation_link(translation) }}
				</li>
			{%- endfor -%}
				<li>
					{{ page_translation_link(page, True) }}
				</li>
			</ul>
			{{ l[lang].page.languages_suffix }}
		</footer>
	</article>
{% endblock %}
